{% extends 'base.html' %}

{% block body %}
<h1>掲示板</h1>
{% for post in posts %}
<div>
    <p>{{ loop.index }}</p>
    <p>名前: {{ post.username }}</p>
    <p>投稿日時: {{ post.created_at }}</p>
</div>

<div>
    <p>コメント内容: {{ post.write }}</p>
</div>
{% endfor %}

<div class="form">
    <form action="/" method="POST">
        <label for="username">名前（省略可）</label>
        <input type="text" name="username">
        <label for="email">メールアドレス（省略可）</label>
        <input type="text" name="email">
        <label for="write">コメント内容（200字以内）</label>
        <input type="text" name="write">
        <input type="submit" value="書き込む">
    </form>
</div>
{% endblock %}