{% extends 'base.html' %}

{% block body %}
<div class="m-5">
    <h1><strong>掲示板</strong></h1>
</div>
{% for post in posts %}
<div class="mx-5 mb-5">
    <div class="form-inline">
        <p class="mr-2">{{ loop.index }}</p>
        <p class="mr-2">名前: {{ post.username }}</p>
        <p class="mr-2">投稿日時: {{ post.created_at }}</p>
    </div>
    <p>{{ post.write }}</p>
</div>
{% endfor %}

<form action="/" method="POST" class="text-center">
    <div class="mb-2">
        <label for="username" class="form-label mt-3">名前（省略可）（20字以内）</label>
        <input style="width:40%;" type="text" name="username" class="form-control mx-auto" placeholder="名無し">
    </div>
    <div class="mb-2">
        <label for="email" class="form-label mt-3">メールアドレス（省略可）</label>
        <input style="width:40%;" type="text" name="email" class="form-control mx-auto" placeholder="name@example.com">
    </div>
    <div>
        <label for="write" class="form-label mt-4">コメント内容（200字以内）</label>
        <textarea style="width:40%; height:100px" type="text" name="write" class="form-control mx-auto"></textarea>
    </div>
    <input type="submit" value="書き込む" class="btn btn-primary mt-2 mb-5 mx-auto">
</form>

{% endblock %}
